<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a81480bc-30b7-4f3a-ac59-d070583812fc/resourceGroups/temprg/providers/Microsoft.Web/sites/temprgaryalinux</ResourceId>
    <ResourceGroup>temprg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://temprgaryalinux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d855dab0-fa4c-419a-9401-34c629e6b223</ProjectGuid>
    <PublishUrl>https://temprgaryalinux.scm.azurewebsites.net/</PublishUrl>
    <UserName>$temprgaryalinux</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>